@media (width <= 960px) {
  /*!=========== header top items ===========*/

  .toggle-btn {
    display: flex;
    margin-left: 1rem;
  }
  .side-bar {
    position: absolute;
    top: 0rem;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: var(--bg-light);
    z-index: 3;
    width: 30rem;
    height: 100vh;
    padding-top: 3rem;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
  }

  .side-bar .toggle-btn {
    left: -26%;
    top: 0;
    box-shadow: none;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .side-bar a:nth-of-type(4) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .side-bar a {
    width: 90%;
    background-image: url("./images/promo-bg.png");
  }
  /*!=========== responsive items ===========*/
  .responsive-item {
    display: flex;
    justify-content: space-between;
    background: var(--bg-gradient);
    height: 6rem;
  }
  .responsive-item .menu-btn,
  .nav-log-in {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-black);
    width: 6rem;
    color: white;
  }
  .responsive-item .nav-log-in {
    font-size: 1.2rem;
    flex-direction: column;
  }

  .responsive-item .nav-log-in img {
    width: 50%;
  }
  /*!=========== navbar items ===========*/
  .navbar-content {
    position: absolute;
    top: 6rem;
    left: -100%;
    opacity: 0;
    width: 100%;
    height: calc(100vh - 14rem);
    background-color: white;
    z-index: 1;
    flex-direction: column;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
  }

  .show .navbar-content {
    left: 0%;
    opacity: 1;
  }
  .navbar .navbar-content a {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .navbar .navbar-content a span {
    width: 10rem;
  }
  .navbar .navbar-content a .icon {
    height: 100% !important;
  }

  .navbar .navbar-content a :is(span, .icon i) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar .navbar-content a span:nth-of-type(2) {
    width: 20rem;
    height: 100%;
    justify-content: start;
  }

  .navbar
    .navbar-content
    :is(.home, .bolt, .heart, .star, .video, .trophy, .download) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /*!=== item one ===*/

  .navbar .navbar-content .home {
    border-left: 7px solid var(--gray);
  }

  /*!=== item two ===*/

  .navbar .navbar-content .bolt {
    border-left: 7px solid var(--redish);
  }

  /*!=== item three ===*/

  .navbar .navbar-content .heart {
    border-left: 7px solid var(--orange);
  }

  /*!=== item four ===*/

  .navbar .navbar-content .star {
    border-left: 7px solid var(--yellow);
  }

  /*!=== item five ===*/

  .navbar .navbar-content .video {
    border-left: 7px solid var(--light-green);
  }
  /*!=== item six ===*/

  .navbar .navbar-content .trophy {
    border-left: 7px solid var(--sky-blue);
  }

  /*!=== item seven ===*/

  .navbar .navbar-content .download {
    border-left: 7px solid var(--hard-blue);
  }
  .log-in-btn {
    display: none;
  }

  /*!=========================== main contianer ======================*/
  .grid-two-cols,
  .grid-wide-two-cols,
  .grid-three-cols {
    grid-template-columns: 1fr;
  }
  .hero-section .hero-left {
    grid-column: 1/-1;
  }
  .hero-section .hero-right {
    grid-column: 1 /-1;
  }
  /*!=========================== Footer responsiveness ======================*/

  .company,
  .social-links {
    border-right: none;
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
  }

  .social-links {
    justify-content: start;
    align-items: center;
  }
}
@media (width <= 650px) {
  .slider-main-container {
    margin-bottom: 15rem;
  }
  .swiper-slide:hover .slide-img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  .slide-btn {
    top: 60%;
  }
  .left-btn {
    left: 2rem;
  }

  .right-btn {
    right: 2rem;
  }
  .slide-btns img {
    width: 5rem;
  }
}
@media (width <= 640px) {
  .slider-main-container .caption {
    left: 3rem;
  }

  .more-caption {
    font-size: 1.7rem;
  }
}
